@tailwind base;
@tailwind components;
@tailwind utilities;

.floof {
    min-height: 20px;
    max-height: 50px;
}
.avatar {
    min-height: 25px;
    max-height: 50px;
    border-radius: 50%;
}
.main-gutter {
    border-right: 0.5px solid #ccc;
}
.content {
    margin-left: 76px;
}
.menuItems {
    margin-top: 1rem;
}
.menuItems li {
    margin-bottom: 1rem;
    margin-left: 0.7rem;
}
.menuItems li a span {
    display: none;
}
.menuItems li a {
    width: 30px;
    height: 30px;
    display: block;
    background-size: contain;
}
.menuItems .home { background-image: url("/images/home-icon.svg"); }    
.menuItems .search { background-image: url("/images/search-icon.svg"); }    
.menuItems .notifications { background-image: url("/images/bell-icon.svg"); }    
.menuItems .messages { background-image: url("/images/email-icon.svg"); }    
.menuItems .profile { background-image: url("/images/profile-icon.svg"); }    
.menuItems .settings { background-image: url("/images/settings-icon.svg"); }    
.menuItems .compose { 
    background-color: #64b5e3;
    width: 50px;
    height: 50px;
    background-image: url("/images/edit-icon.svg"); 
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: 12px;
    border-radius: 100%;
    margin-left: -10px;
    margin-top: 3rem;
}
.latest {
    font-weight: bold;
    font-size: 120%;
    margin-top: 17px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.content {
    overflow-x: hidden;
}
.composeTop {
    padding-bottom: 10px;
    margin-left: 10px;
}
.composeTop textarea {
    padding: 10px;
}
.buttonHolder {
    padding-bottom: 10px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid #ccc;
}
.buttonHolder button {
    border: 1px solid #64b5e3;
    background-color: #64b5e3;
    color: #fff;
    border-radius: 20px;
    padding: 2px 10px;
    position: relative;
    right: 0px;
}
.tweet {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #ccc;
    padding-right: 10px;
    font-size: 92%;
}
.tweet .gutter {
    width: 60px;
    padding-left: 10px;
    padding-right: 10px;
}
.tweet .gutter .authorAvatar img {
    border-radius: 100%;
}
.tweet .tweetBody {
    /* FIXME: this is a dumb way to get this */
    width: 100px;
}
.tweet .displayName {
    font-weight: bold;
    margin-right: 3px;
}
.tweet .username {
    color: #888;
    font-size: 90%;
}
.tweet .reactions {
    padding-top: 10px;
}
.tweet .reactions>div {
    color: #888;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 1.5px;
    padding-left: 25px;
}
.tweet .reactions .replies { background-image: url("/images/reply-icon.svg")}
.tweet .reactions .reblogs { background-image: url("/images/retweet-icon.svg")}
.tweet .reactions .favorites { background-image: url("/images/heart-icon.svg")}
.tweet .reactions .share { background-image: url("/images/share-icon.svg")}

.tweet .reactions .share span {
    display: none;
}
.reblog .reblogNotice {
    font-size: 80%;
    font-weight: bold;
    color: #666;
    background-image: url("/images/retweet-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 1.5px;
    padding-left: 33px;
    padding-top: 2.5px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: -5px;
}
