@tailwind base;
@tailwind components;
@tailwind utilities;

.floof {
    min-height: 20px;
    max-height: 50px;
}
.genericButton {
    font-size: 90%;
    font-weight: bold;
    padding: 7px 12px;
    border-radius: 20px;
    color: #fff;
    background-color: #ccc;
}
.avatar {
    min-width: 70px;
    padding-right: 10px;
    padding-left: 10px;
}
.avatar .avatarImage {
    max-height: 50px;
    border-radius: 100%;
}
.nextToAvatar {
    font-size: 92%;
}
.displayName {
    font-weight: bold;
    margin-right: 3px;
}
.username {
    color: #888;
    font-size: 90%;
}
.main-gutter {
    padding-left: 10px;
    border-right: 0.5px solid #ccc;
    width: 75px;
}
.content {
    margin-left: 75px;
}
.menuItems {
    margin-top: 1rem;
}
.menuItems li {
    margin-bottom: 1rem;
    margin-left: 0.7rem;
}
.menuItems li a span {
    display: none;
}
.menuItems li a {
    width: 30px;
    height: 30px;
    display: block;
    background-size: contain;
}
.menuItems .home { background-image: url("/images/home-icon.svg"); }    
.menuItems .search { background-image: url("/images/search-icon.svg"); }    
.menuItems .notifications { background-image: url("/images/bell-icon.svg"); }    
.menuItems .messages { background-image: url("/images/email-icon.svg"); }    
.menuItems .profile { background-image: url("/images/profile-icon.svg"); }    
.menuItems .settings { background-image: url("/images/settings-icon.svg"); }    
.menuItems .compose { 
    background-color: #64b5e3;
    width: 50px;
    height: 50px;
    background-image: url("/images/edit-icon.svg"); 
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: 12px;
    border-radius: 100%;
    margin-left: -10px;
    margin-top: 3rem;
}
.menu-bar .authUser {
    margin-bottom: 10px;
}
.latest {
    font-weight: bold;
    font-size: 120%;
    margin-top: 17px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.content {
    overflow-x: hidden;
}
.composeTop {
    padding-bottom: 10px;
    margin-left: 10px;
}
.composeTop textarea {
    padding: 10px;
}
.buttonHolder {
    padding-bottom: 10px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid #ccc;
}
.buttonHolder button {
    border: 1px solid #64b5e3;
    background-color: #64b5e3;
    color: #fff;
    border-radius: 20px;
    padding: 2px 10px;
    position: relative;
    right: 0px;
}
.tweet {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #ccc;
    padding-right: 10px;
}
.tweet .reactions {
    padding-top: 10px;
}
.tweet .reactions>div {
    color: #888;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 1.5px;
    padding-left: 25px;
}
.tweet .reactions .replies { background-image: url("/images/reply-icon.svg")}
.tweet .reactions .reblogs { background-image: url("/images/retweet-icon.svg")}
.tweet .reactions .favorites { background-image: url("/images/heart-icon.svg")}
.tweet .reactions .share { background-image: url("/images/share-icon.svg")}

.tweet .reactions .share span {
    display: none;
}
.reblog .reblogNotice {
    font-size: 80%;
    font-weight: bold;
    color: #666;
    background-image: url("/images/retweet-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 1.5px;
    padding-left: 33px;
    padding-top: 2.5px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: -5px;
}
.profilePage .profileTopNav {
    padding: 5px 10px;
}
.profileTopNav .backButton {
    background-image: url('/images/back-icon.svg');
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 10px;
    background-size: contain;
    margin-right: 2rem;
}
.profileTopNav .displayName {
    font-size: 110%;
    font-weight: bold;
}
.profileTopNav .tweetCount {
    font-size: 80%;
    color: #666;
}
.profileHeader {
    width: 100%;
    height: 15vh;
}
.headerContainer {
    display: block;
    width: 100%;
    height: 15vh;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
.avatarContainer {
    width: 100%;
    height: 15vh;
    position: absolute;
}
.profileHeader .avatar {
    width: 120px;
    max-height: 120px;
    position: absolute;
    bottom: -60px;
    left: 20px;
    border: 4px solid #fff;
}
.profilePage .buttonBar {
    text-align: right;
    padding: 15px 20px;
    height: 60px;
}
.followButton {
    float: right;
}
.followButton.empty {
    color: #000;
    border: 1px solid #ccc;
    background-color: transparent;
}
.profilePage .descriptions {
    padding: 20px;
    border-bottom: 0.5px solid #ccc;
}
.descriptions .displayName {
    font-weight: bold;
    font-size: 150%;
}
.descriptions .followerCounts {
    margin-top: 5px;
    font-size: 90%;
}
.followerCounts .followingCount {
    margin-right: 10px;
}
.followerCounts .number {
    font-weight: bold;
}
.searchBox {
    width: calc(100% - 70px);
    padding: 15px 10px;
    position: fixed;
    top: 0px;
    background-color: rgba(255,255,255,0.9);
    backdrop-filter: blur(5px);
    border-bottom: 0.5px solid #ccc;
}
.searchBox input[type=text] {
    display: box;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}
.searchBox button {
    background-color: #ccc;
    margin-right: 10px;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    padding: 5px 10px;
}
.searchResults {
    margin-top: 70px;
    overflow: hidden;
}
.searchResults h2 {
    margin-left: 10px;
    font-weight: bold;
    font-size: 120%;
}
.searchResults .searchResult {
    border-bottom: 0.5px solid #ccc;
    margin-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
