@charset "UTF-8";
/** baseline **/
@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-VariableFont_wght.ttf");
  font-display: swap; }

@font-face {
  font-family: "Work Sans Italic";
  src: url("/fonts/WorkSans-Italic-VariableFont_wght.ttf");
  font-display: swap; }

:root {
  --white: #fff;
  --blue-primary: #184BCB;
  --blue-secondary: #006CDA;
  --blue-brand: #008DFF;
  --blue-container: #EFF5FB;
  --grey-inactive: #6E7077;
  --grey-primary: #1A1B1C;
  --grey-primary-5pc: rgba(26, 27, 28, 0.05);
  --grey-primary-10pc: rgba(26, 27, 28, 0.1);
  --grey-primary-20pc: rgba(26, 27, 28, 0.2);
  --grey-secondary: #38376B;
  --grey-tertiary: #616575;
  --purple-primary: #510BF4;
  --purple-secondary: #7C44FF;
  --purple-container: #F5F0FF;
  --pink-secondary: #D70072;
  font-family: "Work Sans"; }

@supports (font-variation-settings: "wdth" 115) {
  :root {
    font-family: "Work Sans"; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  background-color: transparent; }

textarea {
  font-family: inherit;
  font-size: inherit; }

/** global nav **/
.logo {
  width: calc(100% - 28px);
  display: flex;
  flex-direction: row;
  padding: 10px 14px;
  height: 60px; }
  .logo .floof {
    width: 36px;
    height: 36px; }
  .logo .logoType {
    height: 20px;
    width: calc(100% - 82px);
    margin-top: 8px; }

.avatar {
  min-width: 36px;
  padding-right: 8px; }
  .avatar .avatarImage {
    max-height: 36px;
    border-radius: 100%; }

.displayName {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: var(--grey-primary); }
  .displayName a:hover {
    text-decoration: underline; }

.username {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--grey-tertiary); }

.profileMenu {
  position: absolute;
  top: 10px;
  right: 14px; }
  .profileMenu ol {
    position: absolute;
    background-color: var(--white);
    top: 40px;
    right: 16px;
    padding: 5px 10px;
    border: 1px solid var(--grey-primary); }
    .profileMenu ol li {
      padding: 5px 5px; }

.globalNav .backLink a {
  text-decoration: none; }

.globalNav .backLink .arrow {
  margin-left: 16px;
  padding-left: 20px;
  background-image: url("/images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-y: center;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .globalNav .backLink .arrow span {
    margin-left: 7px;
    display: block;
    font-size: 90%;
    width: 50%; }

/* this isn't inside globalnav but overlays it */
.pageHeader {
  position: absolute;
  margin-left: 2em;
  margin-right: 2em;
  font-weight: 550;
  font-size: 18px;
  line-height: 16px;
  min-height: 56px;
  top: 0px;
  left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.menuBar {
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 60px;
  background-color: var(--white);
  box-shadow: 0px 0px 8px rgba(26, 27, 28, 0.075);
  z-index: 1; }
  .menuBar .menuItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 17px 10px 17px;
    height: 100%;
    /*
        .messages {
            background-image: url('/images/icon-dm.svg');
        }
        */ }
    .menuBar .menuItems li {
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: center;
      background-position-y: center;
      width: 24px;
      height: 24px; }
      .menuBar .menuItems li span {
        visibility: hidden; }
      .menuBar .menuItems li a {
        display: block;
        width: 100%;
        height: 100%; }
    .menuBar .menuItems .home {
      background-image: url("/images/icon-home.svg"); }
    .menuBar .menuItems .compose {
      width: 45px;
      height: 45px;
      border-radius: 4px;
      background-image: url("/images/icon-edit.svg");
      background-color: var(--blue-brand);
      background-size: 24px; }
    .menuBar .menuItems .search {
      background-image: url("/images/icon-search.svg"); }
    .menuBar .menuItems .notifications {
      height: 35px;
      background-image: url("/images/icon-notifications.svg"); }
    .menuBar .menuItems .profile {
      background-image: url("/images/icon-avatar.svg"); }

.composeBox {
  border-bottom: 1px solid var(--grey-primary-10pc); }
  .composeBox textarea {
    border: 1px solid var(--grey-tertiary);
    margin-left: 16px;
    width: calc(100% - 60px);
    height: 4em;
    padding: 8px 12px;
    border-radius: 4px; }
  .composeBox textarea::placeholder {
    color: var(--grey-tertiary);
    font-size: 16px; }
  .composeBox .buttonHolder {
    width: 100%;
    text-align: right;
    display: none; }
    .composeBox .buttonHolder button {
      background-color: var(--grey-secondary);
      width: 76px;
      height: 34px;
      color: var(--white);
      border-radius: 4px;
      margin-right: 16px;
      margin-top: 4px;
      margin-bottom: 16px; }

.composeBox.active textarea {
  height: 8em; }

.composeBox.active .buttonHolder {
  display: block; }

.morePosts {
  display: none; }

.morePosts.active {
  display: block;
  margin: auto;
  width: 7em;
  padding: 10px 10px;
  margin-top: 10px;
  text-align: center;
  background-color: var(--blue-primary);
  border-radius: 5px; }
  .morePosts.active button {
    color: var(--white); }

.repost .repostNotice {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  background-image: url("/images/icon-repost-active.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-y: bottom;
  padding-left: 20px;
  margin-left: 16px;
  padding-top: 18px;
  margin-bottom: -4px; }
  .repost .repostNotice .repostDisplayName {
    font-weight: 600; }
  .repost .repostNotice a:hover {
    text-decoration: underline; }

.post {
  padding: 14px 16px 18px 16px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  border-bottom: 1px solid var(--grey-primary-10pc);
  font-style: normal;
  font-weight: 425;
  font-size: 15.5px;
  line-height: 24px; }
  .post .author {
    display: flex;
    flex-direction: row;
    position: relative; }
  .post .username {
    display: inline-block; }
  .post .time {
    display: inline-block;
    font-size: 12px; }
  .post .time::before {
    content: '•';
    margin-left: 0.5em;
    margin-right: 0.5em; }
  .post .time a:hover {
    text-decoration: underline; }
  .post .status {
    margin-top: 12px;
    margin-left: 50px; }
  .post .reactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 13px;
    margin-left: 50px; }
    .post .reactions .reaction {
      width: 55px;
      height: 22px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: var(--grey-tertiary); }
      .post .reactions .reaction .reactionIcon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: contain; }
      .post .reactions .reaction span {
        position: relative;
        top: -5px;
        left: 3px; }
    .post .reactions .reaction.share {
      width: 20px; }
      .post .reactions .reaction.share span {
        visibility: hidden; }
    .post .reactions .replies .reactionIcon {
      background-image: url("/images/icon-reply.svg"); }
    .post .reactions .reposts .reactionIcon {
      background-image: url("/images/icon-repost.svg"); }
    .post .reactions .reposts .reactionIcon.active {
      background-image: url("/images/icon-repost-active.svg"); }
    .post .reactions .likes .reactionIcon {
      background-image: url("/images/icon-heart.svg"); }
    .post .reactions .likes .reactionIcon.active {
      background-image: url("/images/icon-heart-active.svg"); }
    .post .reactions .share .reactionIcon {
      background-image: url("/images/icon-share.svg"); }
  .post .media {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .post .media img {
      max-height: 400px; }

.postOrRepost:hover {
  background-color: var(--grey-primary-5pc); }

.notificationMessage .notifyText {
  margin-top: 10px;
  margin-left: 16px;
  margin-bottom: -10px;
  font-size: 14px;
  color: var(--grey-tertiary);
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  padding-left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.notificationMessage .notifyLike .notifyText {
  background-image: url("/images/icon-heart-active.svg"); }
  .notificationMessage .notifyLike .notifyText .displayName {
    font-size: 14px; }

.notificationMessage .notifyFollow {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .notificationMessage .notifyFollow .notifyText {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 16px;
    background-image: url("/images/icon-avatar-active.svg"); }

/** desktop UI **/
@media (min-width: 750px) {
  .loggedOut .content {
    margin: auto;
    max-width: 500px; }
  .loggedOut .globalNav img {
    display: none; }
  .loggedOut .globalNav .desktopLogo {
    display: block;
    background: url("/images/ab-logo-horizontal.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
    width: 100%;
    height: 100px; }
  .loggedOut .menuBar {
    display: none; }
  .loggedOut .container {
    margin-top: 40px;
    text-align: center; }
  .loggedOut h2 {
    font-size: 120%;
    margin-bottom: 20px; }
  .loggedOut #instanceTip {
    font-size: 80%; }
  .loggedOut .temporaryLogin {
    margin-top: 20px; }
  .loggedOut #createOffer {
    margin-top: 20px; }
  .loggedIn .content {
    margin: auto;
    max-width: 500px; }
  .globalNav .menuBar {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 50px;
    width: 50px;
    height: 100vh;
    z-index: 0; }
    .globalNav .menuBar .menuItems {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 8px 17px 10px 17px;
      height: 100%; }
      .globalNav .menuBar .menuItems li {
        margin-bottom: 20px; } }
