<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlpacaBlue.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2352AB6E1C97CCA72C45E9E882D453064C730180</string>
				<key>dateExpires</key>
				<string>12/26/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2352AB6E1C97CCA72C45E9E882D453064C730180</string>
						<key>dateExpires</key>
						<string>12/26/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R3GM2SBH67</string>
						<key>name</key>
						<string>Laurie Voss</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R3GM2SBH67.com.seldo.AlpacaBlue</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>R3GM2SBH67</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AlpacaBlue.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f0321ac3-beee-4fe0-8c2c-dfd298800eb1</string>
				<key>dateExpires</key>
				<string>12/26/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.seldo.AlpacaBlue</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R3GM2SBH67</string>
				<key>name</key>
				<string>Laurie Voss</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
