body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

@font-face {
    font-family: "Work Sans";
    src: url("/fonts/WorkSans-VariableFont_wght.ttf");
    font-display: swap;
}      
@font-face {
    font-family: "Work Sans Italic";
    src: url("/fonts/WorkSans-Italic-VariableFont_wght.ttf");
    font-display: swap;
}      

:root {
    --white: #fff;
    --blue-primary: #184BCB;
    --blue-secondary: #006CDA;
    --blue-brand: #008DFF;
    --blue-container: #EFF5FB;
    --grey-inactive: #6E7077;
    --grey-primary: #1A1B1C;
    --grey-primary-5pc: rgba(26, 27, 28, 0.05);
    --grey-primary-10pc: rgba(26, 27, 28, 0.1);
    --grey-primary-20pc: rgba(26, 27, 28, 0.2);
    --grey-secondary: #38376B;
    --grey-tertiary: #616575;
    --purple-primary: #510BF4;
    --purple-secondary: #7C44FF;
    --purple-container: #F5F0FF;
    --pink-secondary: #D70072;
    font-family: "Work Sans";
}
@supports (font-variation-settings: "wdth" 115) {
    :root {
        font-family: "Work Sans";
    }
}
